* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  color: seashell;
}
nav {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 1px solid seashell;
  height: 69px;
  width: 100%;
}
nav ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  flex-wrap: wrap;
}
ul li a {
  text-decoration: underline;
  font-size: 22px;
}
.logo {
  height: 50px;
  margin-left: 10px;
}
.container {
  position: relative;
  text-align: center;
  width: 1200px;
  height: 700px;
  margin: auto;
}
.heading {
  opacity: 1;
  padding: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.heading h1 {
  margin-bottom: 1rem;
  font-size: 3rem;
}
.banner {
  object-fit: cover;
  height: 700px;
  width: 100%;
}
.gallery {
  flex-direction: column;
  width: 1000px;
  text-align: center;
  margin: auto;
}

.gallery h1 {
  margin-top: 1.5rem;
  font-size: 3rem;
}
.gallery h4 {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}
.gallery-pic img {
  width: 300px;
  height: 200px;
  margin: 1rem;
}
.gallery-pic {
  width: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
figcaption {
  font-size: 1.2rem;
  font-weight: 600;
}
.location-area {
  background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 500px;
  max-width: 1200px;
  margin: 4px auto auto auto;
  padding-top: 85px;
}
.text-top > * {
  background-color: transparent;
}
.main-box {
  max-width: 1050px;
  margin: 15px auto auto auto;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
}

.box {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  opacity: 1;
}
.box p {
  font-size: 1.2rem;
  font-weight: 700;
}
.center-box {
  margin-left: 40px;
  margin-right: 40px;
}
.contact-us {
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  font-style: bold;
}
footer {
  text-align: left;
  margin-left: 20px;
  font-style: bold;
  font-size: 1rem;
}
